
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    /* max-width: 700px; */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.form-container,
.button-container {
    flex: 1;
    padding: 20px;
}
.form-container h2,
.button-container h2 {
    color: #2aa525;
    margin-bottom: 20px;
}
.form-container p,
.button-container p {
    color: #333;
    margin-bottom: 20px;
}
.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}
.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="date"],
.form-container input[type="tel"],
.form-container input[type="email"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-container textarea {
    resize: vertical;
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border-radius: 0 10px 10px 0;
}
.button-container input[type="submit"] {
    background-color: #43cd5f;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.button-container input[type="submit"]:hover {
    background-color: #0056b3;
}